<head>
<style>

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* MENU BUTTONS */
td a {
    display: inline-block;
    padding: 20px 60px;
    margin: 10px;
    background: #f2f2f2;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

td a:hover {
    background: #e0e0e0;
}

</style>
</head>

